<%#
  Creates an HTML DIV element containing a list of named buttons (name).
  Each button is assigned an id (id) which allows for the addition of a
  javascript click handler.

  Requires array as follows:
    [
      { 'id': 'integer value', 'name': 'Button Name 1' },
      { 'id': 'integer value', 'name': 'Button Name 2' }
    ]
    NOTE: id integer value must be unique, used to create HTML button id.
%>
<div class="button-list-wrapper">
  <% items.forEach(function(r) {%>
    <div class="button-wrapper">
      <button type="button" class="button list-button select-button" id=select-button-<%= r.id %>><%= r.name %></button>
      <button type="button" class="button list-button open-button" id='open-button-<%= r.id %>' 
        onclick='javascript:openItem("<%= table %>", "<%= r.id %>", "<%= r.name %>", "<%= preference %>")'>
        <% if (!preference) {%> Open <%} else {%> Select <% } %>
      </button>
    </div>
  <% }); %>
</div>