<%#
  Creates an HTML DIV element containing a list of named buttons (name).
  Each button is assigned an id (id) which allows for the addition of a
  javascript click handler.

  Requires array as follows:
    [
      { 'id': 'integer value', 'name': 'Button Name 1' },
      { 'id': 'integer value', 'name': 'Button Name 2' }
    ]
    NOTE: id integer value must be unique, used to create HTML button id.
%>
<div class="button-list-wrapper-8">
  <% if (items.length == '0') {%>
    <h2 id="no-items">Sorry, this list is empty :( <br>Add items using the (+) icon</h2>
  <%} else {%>
    <% items.forEach(function(r, i) {%>
      <div class="button-wrapper-1">
        <label id="product-label">Pr</label>
        
        <div class="checkbox-sorting">
          <input type="checkbox" class="sort-by-purchased" id="purchased-<%= r.id %>" name="purchased" value="<%= r.purchased %>"
          <% if (r.purchased === true) {%>
            checked
          <%}%>
        >
          <label for="sort-by-purchased">Purchased</label>

          <input type="checkbox" class="sort-by-hidden" id="hidden-<%= r.id %>" name="hidden" value="<%= r.hidden %>"
          <% if (r.hidden == true) {%>
            checked
          <%}%>
        >
          <label for="sort-by-hidden">Hide</label>

          <input type="checkbox" class="sort-by-urgency" id="urgency-<%= r.id %>" name="urgency" value="urgency"
            <% if (r.urgency == '1') {%>
              checked
            <%}%>
          >
          <label for="sort-by-urgency">Urgent</label>
        </div>
        
        <% if (r.rgbvalue) { %>
          <button type="button" class="button-1 list-button select-button" id=select-button-<%= r.id %> style="border: .15rem solid <%= r.rgbvalue %>"><%= r.name %></button>
        <% } else { %>
          <button type="button" class="button-1 list-button select-button" id=select-button-<%= r.id %> style="border: 1px solid <%= r.rgbvalue %>"><%= r.name %></button>
        <% } %>
      </div>
    <% }); %>
  <%}%>
</div>
<%# Tag identifies the database table to enable JS code to handle interface icon clicks %>
<span id="interface-identifier" hidden><%= table %></span>