<%#
  Creates an HTML DIV element containing a list of named buttons (name) which
  when clicked trigger a redirect to the assigned URL (url).

  Requires array:
  const url_list = [
    { 'name': 'Button Name 1', 'url'; 'target url' },
    { 'name': 'Button Name 2', 'url'; 'target url' }
  ]
Example:
  const url_list = [
    { 'name': 'Button Name 1', 'url'; '/button-1' },
    { 'name': 'Button Name 2', 'url'; '/button-2' }
  ]
%>
<div class="button-list-wrapper-6 url-button-list-wrapper">
  <% if (url_list.length == '0') {%>
    <h2 id="no-items">Populate your products, categories, <br> brands and stores to add product preferences</h2>
  <%} else {%>
    <% url_list.forEach(function(u, index) {%>
      <div class="button-wrapper url-button-wrapper">
        <button type='button' class='button list-button url-button' onClick='javascript:openItem("<%= table %>", "<%= u.id %>", "<%= u.name %>", "<%= preference %>")'><%= u.name %></button>
      </div>
    <% }); %>
  <%}%>
</div>