<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Interface HTML head statements -->
   <%- include('../partials/head-1.ejs') %>
</head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-1.ejs') %>
      <!-- Interface toolbar (url & icons) -->
      <%- include('../partials/tool-bar-1.ejs') %>
      <!-- Interface list of grocery lists -->
      <%- include('../partials/button-list-3.ejs') %>
      <footer>
        <!-- Interface list of url buttons -->
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script src="/js/InterfaceComponent.js"></script>
    <script src="/js/interfaceControl.js"></script>
    <script src="/js/delete.js"></script>
    <!-- Forget grocery list scroll position -->
    <script>sessionStorage.removeItem(ScrollPosition8);</script>
  </body>
</html>
