<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Interface HTML head statements -->
   <%- include('../partials/head-1.ejs') %>
</head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-1.ejs') %>
      <!-- Interface toolbar (url & icons) -->
      <%- include('../partials/tool-bar-2.ejs') %>
      <!-- Interface list of grocery lists -->
      <%- include('../partials/button-list.ejs') %>
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script src="/js/InterfaceComponent.js"></script>
  </body>
</html>
