<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-3.ejs') %>

      <div class="form-container">
        <div class="form-wrapper">
          <form action="">
              <div class="form-input-wrapper">
                <label for="dropdown-product"> Product:</label>
                <select class="form-input" name="dropdown-product" id="dropdown-product" placeholder="select product" required>
                  <% products.forEach(function(r) {%>
                    <option value="product-<%= r.id %>"><%= r.name %></option>
                  <% }); %>
                  </select>

                <label for="dropdown-cat"> Category:</label>
                <select class="form-input"  name="dropdown-cat" id="dropdown-cat" placeholder="select category name" required>
                <% categories.forEach(function(r) {%>
                  <option value="category-<%= r.id %>"><%= r.name %></option>
                <% }); %>
                </select>

                <label for="dropdown-store"> Store:</label>
                <select class="form-input" name="dropdown-store" id="dropdown-store" placeholder="select store name" required>
                  <% stores.forEach(function(r) {%>
                    <option value="store-<%= r.id %>"><%= r.name %></option>
                  <% }); %>
                  </select>

                <label for="dropdown-brand"> Brand:</label>
                <select class="form-input" name="dropdown-store" id="dropdown-brand" placeholder="select brand name" required>
                  <% brands.forEach(function(r) {%>
                    <option value="brand-<%= r.id %>"><%= r.name %></option>
                  <% }); %>
                  </select>

                <br>
                <label for="quantity"> Quantity:</label><br>
                <input class="form-input" type="numeric" name="quantity" id="quantity" placeholder="Enter quantity" value="1" required>

    </select>
              </div>
            <input type="text" id="user-id" value="1" hidden>
            <input type="text" id="list-id" value="<%= list_id %>" hidden>
            <input type="text" id="list-name" value="<%= list_name %>" hidden>
            <input type="submit" id="add-listitem" class="submit" value="Save">
          </form>
        </div>
      </div>
       
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script src="/js/add.js"></script>

    <!-- Implement click handler for back button -->
    <script>
      $('#back-icon').click(() => {
        window.location.href = '/list?id=' + $('#list-id').val() + '&name=' + $('#list-name').val();
      });
    </script>
  </body>
</html>