<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <header class="header-wrapper">
        <% if (title !== 'Grocery Assistant') {%>
          <a href="../grocery-data-manager"><img id="back-icon" class="control" src="/image/hdpi/ic_back.png"></a>
        <% } %>
        <h1><%= title %></h1>
      </header>
      <div class="controls-wrapper">
        <div class="icon-controls-wrapper">
          <div class="icon-control-wrapper">
            <img id="add-icon" class="control" src="/image/hdpi/ic_add.png" onClick='javascript:serverRequest("/add")'>
          </div>
          <div class="icon-control-wrapper">
            <img id="edit-icon" class="control" src="/image/hdpi/ic_edit.png" onClick='javascript:serverRequest("/edit")'>
          </div>
          <div class="icon-control-wrapper">
            <img id="delete-icon" class="control" src="/image/hdpi/ic_delete.png"
            onClick='javascript:serverRequest("/delete")'>
          </div>
        </div>
        <div class="input-control-wrapper">
          <input type="text" id="input-control" class="input-control" maxlength="25" placeholder="Enter product name">
        </div>
      </div>
      <div class="button-list-wrapper">
        <% items.forEach(function(r) {%>
          <div class="button-wrapper">
            <button type="button" class="button list-button" id='<%= r.id %>'><%= r.name %></button>
          </div>
        <% }); %>
      </div>
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
  </body>
</html>
