<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-3.ejs') %>

      <div class="form-container">
        <div class="form-wrapper">
          <form action="javascript:void(0)">
              <div class="form-input-wrapper">
                <label for="dropdown-product"> Product:</label>
                <% if (operation === 'view' ) {%>
                  <select class="form-input" name="dropdown-product" id="dropdown-product" placeholder="select product name" disabled>
                <% } else { %>
                  <select class="form-input" name="dropdown-product" id="dropdown-product" placeholder="select product name" required>
                <% } %>
                  <% products.forEach(function(r) {%>
                    <% if (r.id === product_id) {%>
                      <option value="product-<%= r.id %>" selected ><%= r.name %></option>
                    <% } else {%>
                      <option value="product-<%= r.id %>"><%= r.name %></option>
                    <% } %>                   
                  <% }); %>
                  </select>

                <label for="dropdown-cat"> Category:</label>
                <% if (operation === 'view' ) {%>
                  <select class="form-input" name="dropdown-cat" id="dropdown-cat" placeholder="select category name" disabled>
                <% } else { %>
                  <select class="form-input" name="dropdown-cat" id="dropdown-cat" placeholder="select category name" required>
                <% } %>
                <% categories.forEach(function(r) {%>
                  <% if (r.id === category_id) {%>
                    <option value="category-<%= r.id %>" selected ><%= r.name %></option>
                  <% } else {%>
                    <option value="category-<%= r.id %>"><%= r.name %></option>
                  <% } %>
                <% }); %>
                </select>

                <label for="dropdown-brand"> Brand:</label>
                <% if (operation === 'view' ) {%>
                  <select class="form-input" name="dropdown-brand" id="dropdown-brand" placeholder="select brand name" disabled>
                <% } else { %>
                  <select class="form-input" name="dropdown-brand" id="dropdown-brand" placeholder="select brand name" required>
                <% } %>
                  <% brands.forEach(function(r) {%>
                    <% if (r.id === brand_id) {%>
                      <option value="brand-<%= r.id %>" selected ><%= r.name %></option>
                    <% } else {%>
                      <option value="brand-<%= r.id %>"><%= r.name %></option>
                    <% } %>
                  <% }); %>
                  </select>

                <br>
                <label for="quantity"> Quantity:</label><br>
                <% if (operation === 'view' ) {%>
                  <input class="form-input" type="numeric" name="quantity" id="quantity" placeholder="Enter quantity" value="<%= itemcount %>" disabled>
                <% } else { %>
                  <input class="form-input" type="numeric" name="quantity" id="quantity" placeholder="Enter quantity" value="<%= itemcount %>" required>
                <% } %>

              </div>
              <input type="text" id="user-id" value="1" hidden>
              <input type="text" id="list-id" value="<%= list_id %>" hidden>
              <input type="text" id="list-name" value="<%= list_name %>" hidden>
              <input type="text" id="listitem-id" value="<%= listitem_id %>" hidden>
              <input type="text" id="table-name" value="listitem" hidden>

              <% if (operation === 'add') { %>
                <input type="submit" id="<%= operation %>-listitem" class="submit" value="Save">
              <% } else if (operation === 'view' ) { %>
                <input type="text" id="listitem-id" value="<%= listitem_id %>" hidden>
                <input type="submit" id="<%= operation %>-listitem-done" class="submit" value="Done">
              <% } else if (operation === 'edit' ) { %>
                <input type="text" id="listitem-id" value="<%= listitem_id %>" hidden>
                <input type="submit" id="<%= operation %>-listitem" class="submit" value="Update">
              <% } else { %>
                <input type="text" id="listitem-id" value="<%= listitem_id %>" hidden>
                <input type="submit" id="<%= operation %>-listitem-cancel" class="submit" value="Cancel">
                <input type="submit" id="<%= operation %>-listitem-confirm" class="submit" value="Confirm">
              <% } %>

          </form>
        </div>
      </div>
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script src="/js/add.js"></script>
    <script src="/js/edit.js"></script>
    <script src="/js/view.js"></script>
    
    <!-- Implement click handler for back button -->
    <script>
      $('#back-icon').click(() => {
        window.location.href = '/list?id=' + $('#list-id').val() + '&name=' + $('#list-name').val();
      });
    </script>
  </body>
</html>